XTerm*termName: xterm-256color
XTerm*Background: black
XTerm*Foreground: white
XTerm*faceName: Monospace
XTerm*faceSize: 13
XTerm*scrollBar: false

XTerm*disallowedWindowOps: 20,21,SetXprop
XTerm*metaSendsEscape: true

XTerm*selectToClipboard: true
XTerm*VT100.Translations: #override \
        Shift Ctrl<Key>C: copy-selection(CLIPBOARD) \n\ 
        Shift Ctrl<Key>V: insert-selection(CLIPBOARD)

